* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Star Wars";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.fa {
  margin-right: 5px;
}

.container {
  width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background-color: rgba(70, 130, 180, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  width: 124px;
  font-size: 20px;
  margin-top: 20px;
  color: #e0ffff;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 20px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #e0ffff;
  display: block;
  float: left;
  transition: all 0.5s;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.top-wrapper {
  padding: 180px 0 220px 0;
  background-image: url(https://raw.githubusercontent.com/kurniawanagilfahriza/agil-fahriza.github.io/master/background-main-content.jpg);
  background-size: cover;
  text-align: center;
  color:  white;
  opacity: 0.8;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h2 {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: #ffd700;
}

.top-wrapper p {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.runningtext {
  width: 100%;
  height: 25px;
  padding-top: 7px;
  margin: 5px 0;
  position: relative;
}

.lesson-wrapper {
  background-color: rgba(70, 130, 180, 0.4);
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.9);
}

.heading h2 {
  font-weight: bold;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.heading h3 {
  font-weight: normal;
}
